.mainForm {
    margin-top: 50px;
}

.currencySelectionValue {
    font: small-caps bold 30px "Times New Roman";
}

.formControl {
    padding: 40px 0 30px 0;
    justify-content: center;
}

.formControlValue {
    background-color: #c9d7df97;
    border: 10px black;
}


.resultValue {
    font: small-caps bold 30px "Times New Roman";
    padding-bottom: 40px;
}

.buttonValue {
    justify-content: center;
}

.chooseCountry {
    align-self: center;
}

.chooseCountry Select {
    background-color: #c9d7df97;
}
